# Проект по фильтрации

Имеется таблица с записями о компаниях, включая их ИНН, и отдельный текстовый файл с набором ИНН (колонка head_inn), которые хранятся в папке 4_inn.

inn.xls — таблица в экселевском формате  
necessary_inn.txt — перечень необходимых ИНН в текстовом формате

Задачи:  
- извлечь из таблицы записи с ИНН, указанными в текстовом файле  
- записать результат в файл selected_inn.csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
inn_txt = pd.read_csv('/content/drive/My Drive/Data for Collab/Carpov_Courses/filtration_4/4_necessary_inn.txt',header=None)
#header = None, чтобы первое значение в файле не выбиралось в качестве названия колонки

In [ ]:
inn_txt.shape

(115, 1)

In [ ]:
inn_txt.head()

              0
0  394609645484
1  281578625230
2  923769811917
3  998694734508
4  271011690615

In [ ]:
inn_txt.columns = ['inn']#дали название колонке

In [ ]:
orgs_xlsx = pd.read_excel('/content/drive/My Drive/Data for Collab/Carpov_Courses/filtration_4/4_inn.xls', index_col=0)

In [ ]:
orgs_xlsx.head(2)

   #                                    name  ...  capital,RUB   income,RUB
0  0         ЗАО «Власова, Макаров и Шашков»  ...  54875526078  32205872896
1  1  РАО «Тимофеева, Алексеева и Кузнецова»  ...  33876448811  47437574301

[2 rows x 19 columns]

In [ ]:
txt_inns = inn_txt.inn.to_list()#перевели ИНН в список
xlsx_inns = orgs_xlsx.head_inn.to_list()#перевели ИНН в список

In [ ]:
indicies = []
for inn in txt_inns:
  if inn in xlsx_inns:
    indicies.append(orgs_xlsx[orgs_xlsx['head_inn'] == inn].index.item())#получаем индексы всех записей с совпадающими ИНН

In [ ]:
 final_df = orgs_xlsx.iloc[indicies,:]#фильтруем исходный датафрейм по отобранным индексам
 final_df = final_df.rename(columns={'income,RUB':'income_rub','capital,RUB':'capital_rub'})

In [ ]:
final_df.income_rub.sum()

6104522627393

In [ ]:
final_df.to_csv('selected.csv')