Ваш друг из соседнего отдела прислал вам файл, где он собирал информацию о сделках с компаниями в течение нескольких месяцев. К сожалению, друг был не особо аккуратен, и не знал, какой ужасный формат он выбрал... Ваша задача заключается в следующем: нужно собрать все данные в нормальный датафрэйм (и сказать другу, чтобы хранил данные аккуратнее).

Данные находятся в файле tables.xlsx,  представлены набором таблиц в одном эксельном листе.

In [2]:
import pandas as pd
import numpy as np

from io import BytesIO
import requests

In [153]:
df = pd.read_excel('d://Carpov_Courses/projects/dop_7/tables.xlsx')
df['mark'] = df['company41'].str.contains('company', regex=False)
df = df.rename(columns={'company41':'c41', 'company51':'c51','company50':'c50', 
                        'company76':'c76', 'company47':'c47', 'company27':'c27', 
                        'company48':'c48'})
df

,Unnamed: 0,c41,c51,c50,c76,c47,c27,c48,mark
0,NaN,580,198,968,220,788,554,479,NaN
1,NaN,786,271,69,566,NaN,193,636,NaN
2,NaN,578,NaN,526,74,984,581,951,NaN
3,NaN,614,NaN,589,575,85,122,454,NaN
4,NaN,44,849,992,155,527,33,NaN,NaN
5,NaN,859,966,918,312,NaN,404,407,NaN
6,NaN,225,486,20,367,339,481,252,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,company41,company51,company50,company76,company47,company27,company48,True
10,NaN,110,828,253,NaN,818,15,752,NaN
11,NaN,958,266,105,870,384,NaN,NaN,NaN
12,NaN,843,19,467,784,885,870,177,NaN
13,NaN,143,583,NaN,NaN,716,671,907,NaN
14,NaN,499,469,666,887,142,487,33,NaN
15,NaN,110,828,253,260,818,15,752,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,company41,company51,company50,company76,company47,company27,company48,True
19,NaN,361,104,495,652,990,169,488,NaN
20,NaN,131,278,449,215,NaN,NaN,427,NaN
21,NaN,537,631,870,794,NaN,NaN,186,NaN
22,company41,company51,company50,company76,company47,company27,company48,NaN,True
23,16,151,217,144,993,633,747,NaN,NaN
24,819,43,660,NaN,312,936,983,NaN,NaN
25,227,783,589,NaN,516,782,736,NaN,NaN
26,625,858,228,NaN,832,197,116,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,company41,company51,company50,company76,company47,company27,company48,True
29,NaN,324,128,97,141,965,750,720,NaN
30,NaN,51,196,826,151,729,924,586,NaN
31,NaN,700,523,NaN,NaN,NaN,665,85,NaN
32,NaN,847,727,624,560,902,600,372,NaN
33,NaN,730,225,51,136,58,344,250,NaN
34,NaN,721,768,265,831,624,351,661,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,company41,company51,company50,company76,company47,company27,company48,True
39,NaN,438,933,508,988,635,257,809,NaN
40,NaN,427,424,651,790,971,136,134,NaN
41,NaN,887,260,321,719,377,890,183,NaN
42,NaN,185,650,447,983,543,348,681,NaN
43,NaN,543,278,371,967,181,59,660,NaN

In [99]:
df[0:10]

,Unnamed: 0,company41,company51,company50,company76,company47,company27,company48,mark
0,NaN,580,198,968,220,788,554,479,NaN
1,NaN,786,271,69,566,NaN,193,636,NaN
2,NaN,578,NaN,526,74,984,581,951,NaN
3,NaN,614,NaN,589,575,85,122,454,NaN
4,NaN,44,849,992,155,527,33,NaN,NaN
5,NaN,859,966,918,312,NaN,404,407,NaN
6,NaN,225,486,20,367,339,481,252,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,company41,company51,company50,company76,company47,company27,company48,True

In [154]:
# находим индексы строк, где есть текст, т.е. mark = True
index = df.index
condition = df["mark"] == True
mark_indices = index[condition]
mark_indices

Int64Index([9, 18, 22, 28, 38], dtype='int64')

In [155]:
# добавляем индекс самой последней строки
mark_indices = list(mark_indices)
mark_indices.append(df.shape[0]-1)
mark_indices

[9, 18, 22, 28, 38, 43]

In [163]:
prev = 0 # начальный индекс для итерации по df
temp_temp_df = pd.DataFrame() # пустой df для первого объединения

for i in mark_indices:
    next_ = i # конечный индекс для итерации по df
    temp_df = df[prev:next_+1]
    prev = next_
    temp_df = temp_df.drop(temp_df[temp_df.mark == True].index)# выбросили строки с текстом
    
    if temp_df['Unnamed: 0'].sum() == 0:#проверяем есть ли в колонке Unnamed данные
        temp_df = temp_df.drop(['Unnamed: 0', 'mark'], axis=1).fillna(0)# убираем Unnamed и mark
        merged_df = pd.concat([temp_temp_df, temp_df])
        temp_temp_df = merged_df
    
    else:# в Unnamed есть данные
        #выбросим самую крайнюю колнку без данных
        #переименуем колонки таким образом, что названия сдвинутся влево
        
        temp_df = temp_df \
        .drop(['c48','mark'], axis=1) \
        .rename(columns={'Unnamed: 0':'c41', 'c41':'c51','c51':'c50','c50':'c76','c76':'c27','c27':'c48'})
        merged_df = pd.concat([temp_temp_df, temp_df])
        temp_temp_df = merged_df

In [164]:
merged_df.shape

(39, 7)

In [165]:
merged_df['c41'].sum()

14918